# Example .env file to copy and populate. Non-sensitive environment variables
# are pre-populated with reasonable default values. Sensitive environment
# variables are redacted and should be obtained from their respective sources
# (or contact a bot developer).

# See `env.d.ts` for documentation on each environment variable. This file and
# `env.d.ts` should stay in lock step with each other as development changes the
# list of environment variables for the program.

# SDLC related.
NODE_ENV=development
LOGGER_LEVEL=debug

# Bot related.
BOT_TOKEN=
APPLICATION_ID=

# Discord user IDs.
LUKE_UID=
KLEE_UID=
COFFEE_UID=
CXTIE_UID=
TACO_UID=
WAV_UID=
BUNNY_UID=
J_UID=
KAI_UID=
NI_UID=
S_UID=
WYS_UID=
CODIE_UID=

# Users recognized as developers (comma-separated user IDs).
DEVELOPER_UIDS=

# Discord bot IDs.
CLIENT_UID=
MUDAE_UID=432610292342587392

# 3rd party services.
DB_CONN_STRING=
DB_NAME=yungkaiworldbotdb
WORDNIK_API_KEY=
